{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@mantine/(.*)$",
    "^@tabler/(.*)$",
    "^[@/*]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
